nav a {
    margin: 0vw 1vw 0vw 1vw;
    color: black;
}

nav a:hover {
    color: purple;
    text-decoration: none;
    font-weight: bold;
}

nav {
    padding: 1rem 0.5rem 1rem 0.5rem!important;
}

h1 {
    margin-top: 3vh;
}

.list {
    margin-top: 3vh;

}

.listheading {
    margin-bottom: 1.5vh;
    font-weight: bold;
    font-size: 1.1rem;
    border-bottom: 1px solid #ced4da;
}

.listitem {
    margin-bottom: 2vh;
    border-bottom: 1px solid #ced4da;
}

.button-spacer {
    margin-left: 0.5vw;
    margin-right: 0.5vw;
}

.priceIcon {
    margin-left: 1vw;
    margin-right: 1vw;
}

#categoriesList {
    list-style-type: none;
    display: inline;
    padding: 1vw;
}

#categoriesList li {
    display: inline;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
}

.cafebuttons {
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.reviewsitem {
    border: 1px solid #ced4da;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: .25rem;
    background-color: #ecd5e3;
}

#reviewscontainer {
    padding: 0 15px 0 15px;
}

.hideLoading {
    display: none;
}

footer {
    background-color: #fcb9aa; 
    }

footer a, .list a {
    color: purple;
}

footer a:hover, .list a:hover{
    color: black;
    text-decoration: none;
    font-weight: bold;
}

nav {
    background-color: #a2e1db;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2); 
}

.jumbotron {
    background-color: #55cbcd; 
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.btn-primary {
    background-color: #55cbcd; 
    border-color: #ced4da;
}

.btn-primary:hover {
    background-color:#2f8377;
    border-color: #369688;
}

footer p {
    margin-top: 1rem;
}

#loading {
    padding: 3.5vh;
}

#loading svg {
    color: purple;
}

#dropletspill {
    color: #6f4e37!important;
}

@media (min-width: 768px) {
    #contactheading {display: none;}
    .img-resize {
        max-width: 20%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 768px) {
    .jumbotron {
        margin-bottom: 0;
    }
    .img-resize {
        max-width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #welcomeimg {
        max-width: 60%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

/*
Code below was taken from https://medium.com/@zerox/keep-that-damn-footer-at-the-bottom-c7a921cb9551
This will make the footer stick to the bottom of the page at all times.
*/

* {
    box-sizing: border-box;
}
*:before, *:after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    position: relative;
}

#app {
    min-height: 100vh; 
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 100px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}