#nav a {
    margin: 0vw 1vw 0vw 1vw;
}

.list {
    margin-top: 3vh;
}

.listheading {
    margin-bottom: 1.5vh;
    font-weight: bold;
    font-size: 1.1rem;
}

.listitem {
    margin-bottom: 2vh;
}

.button-spacer {
    margin-left: 0.5vw;
    margin-right: 0.5vw;
}

.priceIcon {
    margin-left: 1vw;
    margin-right: 1vw;
}

#categoriesList {
    list-style-type: none;
    display: inline;
    padding: 1vw;
}

#categoriesList li {
    display: inline;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
}

.cafebuttons {
    margin-bottom: 3vh;
}